:root {
    --dark-blue: #00204a;
    --blue: #005792;
    --light-blue: #00bbf0;
    --yellow: #fdb44b;
}

html {
    position: relative;
    min-height: 100%;;
}

body {
    font-family: 'Bangers', cursive;
    letter-spacing: 1px;
    margin-bottom: 100px;
    background-color: var(--blue);
}

header {
    text-align: center;
    color: var(--dark-blue);
    font-size: 24px;
    width: 100%;
    letter-spacing: 6px;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#game-info {
    color: var(--dark-blue);
}

.playerNames-container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 250px;
    color: var(--dark-blue);
}

.ships-container {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-top: 30px;
}

.ships-container h3 {
    color: var(--dark-blue);
}

.option-container {
    width: 50%;
    height: 60px;
    margin: 5px 0;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.destroyer-preview {
    width: 100px;
    height: 30px;
    margin: 3px;
}

.submarine-preview {
    width: 100px;
    height: 30px;
    margin: 3px;
}

.cruiser-preview {
    width: 100px;
    height: 30px;
    margin: 3px;
}

.battleship-preview {
    width: 100px;
    height: 30px;
    margin: 3px;
}

.carrier-preview {
    width: 100px;
    height: 30px;
    margin: 3px;
}

.game-board {
    width: 200px;
    height: 200px;
    display: flex;
    flex-wrap: wrap;
    flex-shrink: 0;
}

#gamesboard-container {
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 120px;
}

.block {
    width: 20px;
    height: 20px;
    border: 1px solid var(--dark-blue);
    box-sizing: border-box;
    cursor: pointer;
}

#shipsInfo.active {
    display: none;
}


.hover {
    background-color: grey;
}

.boom {
    background-color: red !important;
}

.empty {
    background-color: grey !important;
}

.destroyer,
.submarine,
.cruiser,
.battleship,
.carrier {
    background-color: var(--blue);
}

#computer .destroyer,
#computer .submarine,
#computer .cruiser,
#computer .battleship,
#computer .carrier {
    background-color: var(--light-blue);
}

.button-container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 20px 0;
    gap: 30px;
}

button {
    padding: 10px 40px;
    color: var(--dark-blue);
    font-size: 32px;
    font-family: inherit;
    border-radius: 5px;
    border: var(--dark-blue) solid 1px;
    cursor: pointer;
}

#flip-button {
    background-color: var(--light-blue);
}

#start-button {
    background-color: var(--yellow);
}

.footer {
    position: absolute;
    left: 0;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--yellow);
    width: 100%;
    gap: 10px;
}

.footer p,
.footer .fa-github {
    color: var(--blue);
    font-size: 20px;
}

